{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
Bulletin Board
{% endblock title%}

{% block links %}
    {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mainboard/create">Создать пост</a></li>
    {% endif%}
{% endblock links %}

{% block account %}
    {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/accounts/logout/">Выйти</a></li>
    {% endif %}
{% endblock account %}

{% block content %}
    {% if posts %}
        <a href="../mainboard/search">ФИЛЬТРЫ</a>
        
        {% for post in posts %}
            <hr>
            <h2>{{ post.title }}</h2>
            <h3>Автор - {{ post.author.username }}</h3>
            {{post.text|safe}}
            
            {% if user == post.author%}
                <p>
                    <a href="/mainboard/{{ post.slug }}/delete">Удалить пост</a>
                    <b>  |  </b>
                    <a href="/mainboard/{{ post.slug }}/update">Редактировать</a>
                </p>
            {% endif %}
            <hr>
        {% endfor %}

        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h1>Посты отсутствуют</h1>
    {% endif %}
{% endblock content %}