{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
{{ page_title}}
{% endblock title%}

{% block links %}
    {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mainboard/create">Создать пост</a></li>
    {% endif%}
{% endblock links %}

{% block account %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/mainboard/profile">Профиль</a></li>
        <li><a class="dropdown-item" href="/mainboard/posts">Мои объявления</a></li>
        <li><a class="dropdown-item" href="/mainboard/responses">Отклики</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/accounts/logout/">Выйти</a></li>
    </ul>
</li>
{% endblock account %}

{% block content %}
    <a href="/mainboard/response-search">ФИЛЬТРЫ</a>
    {% if responses %}
        
        
        {% for response in responses %}
            <hr>
            Отправитель - {{ response.author.username }}
            К посту: "{{response.post.title}}"
            <h2>{{response.text|safe}}</h2>
            <hr>
        {% endfor %}

        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h1>Отклики отсутствуют</h1>
    {% endif %}
{% endblock content %}