{% extends 'default.html' %}

{% block title %}
Subscriptions
{% endblock title %}

{% block links %}
    {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mainboard/create">Создать пост</a></li>
    {% endif%}
{% endblock links %}

{% block account %}
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/mainboard/profile">Профиль</a></li>
            <li><a class="dropdown-item" href="/mainboard/posts">Мои объявления</a></li>
            <li><a class="dropdown-item" href="/mainboard/responses">Отклики</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/accounts/logout/">Выйти</a></li>
        </ul>
    </li>
    {% endif %}
{% endblock account %}

{% block content %}
    {% for category in categories  %}
        <p>
            {{ category }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}" />

                {% if category.user_subscribed %}
                    <button disabled>Подписаться</button>
                    <button name="action" value="unsubscribe">Отписаться</button>
                {% else %}
                    <button name="action" value="subscribe">Подписаться</button>
                    <button disabled>Отписаться</button>
                {% endif %}
            </form>
        </p>
    {% endfor %}
{% endblock content %}